*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

a {
  color: inherit;
  
}


.modal-dialog {
  max-width: 98%!important;
}

@media only screen and (max-width: 767px) {
  .modal {
    top: 8%!important;
  }
}
