.HomeScreen {
  // margin-left: 10.9375%;
  // margin-right: 10.9375%;

  .DetailedContentModule {
    margin-top: 5rem;
  }

  .story_01,
  .story_02,
  .story_02-5 {
    margin-left: 10.9375%;
    margin-right: 10.9375%;
  }
  
  .cta-content {
    width: 84%;
  }

  &_spotlight--wrapper {
    margin-left: auto;
    width:100%;
  }

  .story_03--link-wrapper {
    margin: 2.25rem auto;
    text-align: center;
  }

  .story_04 {
    iframe#iframe {
      margin: auto;
    }
  }

  .coming-soon-flag {
    font-family: 'Maven Pro';
    font-weight: 800;
    position: absolute;
    top: -14%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 2.5vw;
  }

  h1 {
    color: #333;
    font-size: 4rem;
    font-family: 'Maven Pro', 'Roboto', sans-serif;
    font-weight: 800;
    font-style: normal;
    line-height: 56.25px;
    width: 100%;
    letter-spacing: -3px;
    text-transform: uppercase;

  }

  h2.story_headers {
    color: #333;
    font-size: 3rem;
    font-family: 'Maven Pro', 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 56.25px;
    width: 100%;
    letter-spacing: -3px;
    text-transform: uppercase;
  }

  span {
    text-transform: uppercase;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 16.41px;
    font-style: normal;
    width: 12vw;
  }
}

@media only screen and (min-width: 769px) {
  .md\:flex-row {
    flex-direction: row!important;
  }

}

@media only screen and (max-width: 768px) {
  .HomeScreen {
    margin-left: 0%;
    margin-right: 0%;

    &_spotlight--wrapper {
      margin-right: auto;
      width: 100%;
    }

    &_form--content {
      margin-left: 8%;
    }

    .cta-content {
      width: 84%;
      margin: auto;
    }

    .coming-soon-flag {
      font-size: 2.5rem;
    }

    &_recent--wrapper {
      overflow-x: auto;
    }

    &_recent {
      flex: 0 0 auto;
    }

    span {
      width: 100%;
    }

  }
}

@media only screen and (min-width: 1557px) {
  .HomeScreen {
  
    .story_01,
    .story_02,
    .story_02-5 {
      margin-left: 20%;
      margin-right: 20%;
    }
  }
}

@media only screen and (max-width: 375px) {
  .HomeScreen {
    .cta-content {
      width: 90%;
      margin: auto;
    }
  }
}